$mobile-width: 480px;
$custom-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1440px;

$text-darker: #101010;
$text-dark: #666;
$text-grayer: #838383;
$text-gray: #B1B1B1;
$text-white: #fff;
$orange: #FF4415;
$green: #00BE4C;
$yellow: #FFBB27;
$bg-button: #151515;
$bg-item: #F6F6F6;

$smooth: all 0.4s ease-in-out;