.header {
    padding: 2rem 0;
    @include flexSB;
    &__nav {
        display: flex;
        gap: 80px;
    }
    &__cart {
        display: flex;
        gap: 20px;
        button {
            border-radius: 12px;
            background-color: $bg-button;
            padding: 12px 16px;
            color: $text-white;
            cursor: pointer;
        }
        &-icon {
            @include buttonIcon;
            background: $orange;
        }
    }
}